# Ignore cryptography files
service/certificates/*
!service/certificates/.gitkeep
!service/certificates/README.md

# Ignore cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore XML files
*.xml

# Ignore cms files
*.cms

# Ignore actual_hour_epoch.txt
actual_hour_epoch.txt